## Yearly Period

In [5]:
import pandas as pd
y= pd.Period('2019')
y

Period('2019', 'A-DEC')

In [6]:
y.start_time

Timestamp('2019-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [8]:
y.is_leap_year

False

## Monthly period

In [9]:
m = pd.Period('2019-12')
m

Period('2019-12', 'M')

In [10]:
m.start_time

Timestamp('2019-12-01 00:00:00')

In [11]:
m.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [12]:
m+1

Period('2020-01', 'M')

## Daily Period

In [15]:
d= pd.Period('2019-02-28', freq='D')
d

Period('2019-02-28', 'D')

In [16]:
d.start_time

Timestamp('2019-02-28 00:00:00')

In [17]:
d.end_time

Timestamp('2019-02-28 23:59:59.999999999')

In [18]:
d+1

Period('2019-03-01', 'D')

## Hourly Period

In [19]:
h= pd.Period('2019-01-01 23:00:00', freq='H')
h

Period('2019-01-01 23:00', 'H')

In [20]:
h.start_time

Timestamp('2019-01-01 23:00:00')

In [21]:
h.end_time

Timestamp('2019-01-01 23:59:59.999999999')

In [22]:
h+1

Period('2019-01-02 00:00', 'H')

In [23]:
#pandas offsets hour could be used for the same
h+pd.offsets.Hour(2)

Period('2019-01-02 01:00', 'H')

## Quaterly Period

In [24]:
q1= pd.Period('2018Q1', freq='Q-JAN')
q1

Period('2018Q1', 'Q-JAN')

In [25]:
q1.start_time

Timestamp('2017-02-01 00:00:00')

In [26]:
q1.end_time

Timestamp('2017-04-30 23:59:59.999999999')

In [27]:
#use asfreq to convert period to different frequency
q1.asfreq('M',how='start')

Period('2017-02', 'M')

In [28]:
q1.asfreq('M',how='end')

Period('2017-04', 'M')

## Weekly Period

In [29]:
w= pd.Period('2018-05-01', freq='w')
w

Period('2018-04-30/2018-05-06', 'W-SUN')

In [30]:
w-1

Period('2018-04-23/2018-04-29', 'W-SUN')

In [32]:
w1= pd.Period('2018-08-15',freq='w')
w1

Period('2018-08-13/2018-08-19', 'W-SUN')

In [33]:
w1-w

15

## PeriodIndex and Period_range

In [34]:
r = pd.period_range('2011','2017',freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [35]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [36]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [68]:
r= pd.period_range('2011','2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [39]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [40]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [41]:
r= pd.PeriodIndex(start='2016-01', freq='3M',periods=10)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

In [45]:
import numpy as np
ps= pd.Series(np.random.randn(len(r)),r)
ps

2016-01    0.626697
2016-04    0.289499
2016-07    1.109539
2016-10    0.824918
2017-01   -0.869648
2017-04    0.334046
2017-07   -0.902554
2017-10   -0.034641
2018-01   -1.209612
2018-04   -1.564585
Freq: 3M, dtype: float64

In [46]:
#Partial Indexing
ps['2016']

2016-01    0.626697
2016-04    0.289499
2016-07    1.109539
2016-10    0.824918
2017-01   -0.869648
Freq: 3M, dtype: float64

In [47]:
ps['2016':'2017']

2016-01    0.626697
2016-04    0.289499
2016-07    1.109539
2016-10    0.824918
2017-01   -0.869648
2017-04    0.334046
2017-07   -0.902554
2017-10   -0.034641
Freq: 3M, dtype: float64

In [48]:
#Converting between representations
pst= ps.to_timestamp()
pst

2016-01-01    0.626697
2016-04-01    0.289499
2016-07-01    1.109539
2016-10-01    0.824918
2017-01-01   -0.869648
2017-04-01    0.334046
2017-07-01   -0.902554
2017-10-01   -0.034641
2018-01-01   -1.209612
2018-04-01   -1.564585
Freq: QS-OCT, dtype: float64

In [49]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [50]:
ps= pst.to_period()
ps

2016Q1    0.626697
2016Q2    0.289499
2016Q3    1.109539
2016Q4    0.824918
2017Q1   -0.869648
2017Q2    0.334046
2017Q3   -0.902554
2017Q4   -0.034641
2018Q1   -1.209612
2018Q2   -1.564585
Freq: Q-DEC, dtype: float64

In [51]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [60]:
df= pd.read_csv('walmart.csv')
df

  Line Item   2017Q1  2017Q2   2017Q3  2017Q4
0   Revenue    12323   76766  5485454    8554
1  Expenses   454866  548544  5545852   68755
2    Profit  5455654   65585     6556  555655

In [61]:
df.set_index('Line Item',inplace= True)
df=df.T
df

Line Item  Revenue  Expenses   Profit
2017Q1       12323    454866  5455654
2017Q2       76766    548544    65585
2017Q3     5485454   5545852     6556
2017Q4        8554     68755   555655

In [62]:
df.index= pd.PeriodIndex(df.index, freq='q-jan')
df

Line Item  Revenue  Expenses   Profit
2017Q1       12323    454866  5455654
2017Q2       76766    548544    65585
2017Q3     5485454   5545852     6556
2017Q4        8554     68755   555655

In [63]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [64]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [66]:
df['Start Date']= df.index.map(lambda x: x.start_time)
df['End Date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses   Profit Start Date   End Date
2017Q1       12323    454866  5455654 2016-02-01 2016-04-30
2017Q2       76766    548544    65585 2016-05-01 2016-07-31
2017Q3     5485454   5545852     6556 2016-08-01 2016-10-31
2017Q4        8554     68755   555655 2016-11-01 2017-01-31